<section class="lp-layer call2action padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner center">
        <div class="cta padding-block-64">
            <h3 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Let’s upgrade your Creality together</h3>
            <p>Let us help you take your printer from factory to better and beyond.
                our back-to-basic firmware lets you unlock more with less.
            </p>
            <button class="button" style="margin-top: var(--size-32);"><a href="#">Get Started</a></button>
        </div>
    </div>
</section>