<section class="lp-layer components">
    <div class="layer_inner padding-block-32">
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/images/illustration.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Better bed leveling & bed meshes instantly</h4>
                    <p class="padding-block-24">Luctus metus ad suscipit duis curae et accumsan sit. Ac ultrices feugiat amet bibendum sodales.
                        Magnis netus ante penatibus convallis cras quam posuere. Ligula vivamus mattis sit.
                    </p>
                    <button class="button right"><a href="#">Get Started</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image left">
                    <img class="box-shadow" src="assets/images/zelda-dark-world.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Better bed leveling & bed meshes instantly</h4>
                    <p class="padding-block-24">Luctus metus ad suscipit duis curae et accumsan sit. Ac ultrices feugiat amet bibendum sodales.
                        Magnis netus ante penatibus convallis cras quam posuere. Ligula vivamus mattis sit.
                    </p>
                    <button class="button right"><a href="#">Get Started</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/images/zelda-light-world.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Better bed leveling & bed meshes instantly</h4>
                    <p class="padding-block-24">Luctus metus ad suscipit duis curae et accumsan sit. Ac ultrices feugiat amet bibendum sodales.
                        Magnis netus ante penatibus convallis cras quam posuere. Ligula vivamus mattis sit.
                    </p>
                    <button class="button right"><a href="#">Get Started</a><span></span></button>
                </div>
            </div>
        </div>
    </div>
</section>