<section class="lp-layer features | padding-block-64" data-md-color-scheme="slate">
    <div class="layer_inner">
        <div class="layer_header | center">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Why you <span>should</span> use SimpleAF</h2>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <span class="icon"><img src="./assets/images/Search_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Lightweight and mainstream klipper</h4>
                <p>Constantly rebased against klipper3d klipper, completely open source</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <span class="icon"><img src="./assets/images/FingerTap_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Leightweight & easy to use</h4>
                <p>As much of the creality crap has been removed from Creality OS to make it run lighter.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Community support and updates</h4>
                <p>Vibrant discord community and approachable developer.</p>
            </div>
        </div>
    </div>
</section>