<section class="lp-layer features | padding-block-64" data-md-color-scheme="slate">
    The installation script will perform the following steps:
    <ul>
    <li>- Disable creality services</li>
    <li>Install Emergency Factory Reset feature</li>
    <li>Install Bash</li>
    <li>Replace Creality cam_app and old mjpg_streamer with entware mjpg_streamer</li>
    <li>Install Moonraker</li>
    <li>Install Moonraker Timelapse - no longer enabled by default</li>
    <li>Install Nginx</li>
    <li>Install Fluidd and Fluidd Config</li>
    <li>Install Mainsail</li>
    <li>Install KAMP</li>
    <li>Install Vanilla Klipper</li>
    <li>Install Guppyscreen</li>
    <li>Setup the probe of course</li>
    </ul>
</section>