<section class="lp-layer features | padding-block-64" data-md-color-scheme="slate">
    <div class="layer_inner">
        <div class="layer_header | center">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Why you should use SimpleAF</h2>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Open Source</h4>
                <p>Simple AF uses open source software and all its source code is open</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <span class="icon"><img src="./assets/images/FingerTap_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Simple Configuration</h4>
                <p>All the macros and configuration are in the config directory and accessible to you, nothing is locked
                away in closed source blobs</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Updated Klipper</h4>
                <p>The version of klipper we use although a fork, is regularly kept up to date with klipper3d and
                    nothing we add changes the basic behaviour of klipper.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Vibrant Community</h4>
                <p>A vibrant discord community and approachable developer.</p>
            </div>
        </div>
    </div>
</section>