<section class="lp-layer hero | padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner | even-columns center wide">
        <div class="hero_text | center">
            <div class="hero-context | fs-text-xl fw-regular">
                <h1 class="fs-display-l fw-bold">Simple AF</h1>
                <p>Simple AF for K1 Series Printers</p>
            </div>
        </div>
        <div class="hero_image">
            <div class="videowrapper">
                <video class="video" autoplay loop muted playsinline>
                    <source src="assets/images/K1printer.webm" class="video" type="video/webm">
                    <source src="assets/images/K1printer.mp4" class="video" type="video/mp4">
                </video>
                <img src="assets/images/K1printer.png" class="fallback-image" alt="Creality k1 printer - Your browser failed to load all videos and this image">
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z" class="shape-fill"></path>
        </svg>
    </div>
</section>
