<section class="lp-layer features | padding-block-64">
    <div class="layer_inner">
        <div class="layer_header | center">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">Why you <span>should</span> use SimpleAF</h2>
            <p>Tempus litora volutpat felis himenaeos imperdiet; sagittis duis molestie.
                zVelit mus feugiat molestie ex massa.</p>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab">
                <span class="icon"><img src="./assets/images/Search_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Acces to more features</h4>
                <p>Himenaeos id augue bibendum nibh imperdiet ante metus montes eleifend.</p>
            </div>
            <div class="lp-tab">
                <span class="icon"><img src="./assets/images/FingerTap_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Leightweight & easy to use</h4>
                <p>Himenaeos id augue bibendum nibh imperdiet ante metus montes eleifend.</p>
            </div>
            <div class="lp-tab">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Fulltime support and updates</h4>
                <p>Himenaeos id augue bibendum nibh imperdiet ante metus montes eleifend.</p>
            </div>
        </div>
    </div>
</section>