/* -----------------------------------------

    LAYOUT STYLING

-------------------------------------------*/

/* || --- BONUS: Anouncementbar-top --- */

.md-banner {
    height:40px;
    max-height: 40px;
    overflow: hidden;
    background: #82009f;
    background: linear-gradient(to right, var(--primary-blue-200), var(--primary-blue-600));
}
.md-banner__inner {
    font-size:.8rem;
    height:100%;
    padding:5px 30px;
    margin:0 auto;
}
.md-banner__inner .md-banner__button svg {
    width:30px;
    height:30px;
}

.announce_text {
    width: fit-content;
    margin-inline: auto;
    font-size: 0.7em;
    line-height: 1.2;
    transform: translateY(2px);
    color: var(--md-typeset-color-white);
}

/* Scale up font-size on non-mobile */
@media screen and (min-width: 35em) {
    .announce_text {
        font-size: 1em;
        line-height: inherit;
    }
}

/* || ------ HEADER ------ */
/* .md-header {
    padding-block:0.75rem;
} */

.md-header__option input {
    top:0;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 34px;
    width: 43px;
}
.md-header__topic {
    font-family: "Encode Sans", serif;
    overflow-wrap: break-word;
    font-weight: 300;
    letter-spacing: -.01em;
    font-size: px2em(21px);
}

.md-header__topic { /* Name next to logo */
    font-size: var(--md-400);
    font-weight: 500;
}

/* Search */
.md-search__form {
    border-radius: var(--br-04);
}
[data-md-color-scheme="slate"] .md-search__form {
    background-color: var(--grey-900);
}

/* || ------ TABS ------ */
.md-tabs {
    background-color: inherit !important;
}

.md-tabs__list {
    height:48px;
}

li.md-tabs__item {
    margin:0;
    padding:0;
    height: auto;
    transition: all ease-in-out var(--md-transition-duration);
}
.md-tabs__link {
    margin:0;
    padding:10px var(--size-12) 5px;
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media screen and (max-width: 76.2344em) {
    .md-nav--primary .md-nav__item--active>.md-nav__link a {
        color: var(--md-title-color);
    }
}
@media screen and (max-width: 59.9844em) {
    .md-nav__source {
        color: var(--md-title-color);
    }
}
.md-nav__source {
    background-color: var(--bg-base-second);
}

/* Tabs background color */
[data-md-color-scheme="default"] .md-tabs {background: var(--md-footer-bg-color);}
[data-md-color-scheme="slate"] .md-tabs {background: var(--md-primary-fg-color);}

/* Tabs link text color */
[data-md-color-scheme="default"] .md-tabs__link {color:  var(--base-white);}
[data-md-color-scheme="slate"] .md-tabs__link {color:  var(--base-white);}

/* || ------ SIDEBARS GENERAL ------ */

/* Hovering Links */
[data-md-color-scheme="default"] .md-sidebar a:hover { color: var(--base-black); font-weight: var(--fw-semibold);}
[data-md-color-scheme="slate"] .md-sidebar a:hover { color: var(--base-white); font-weight: var(--fw-semibold);}

/* --- Title styling */
.md-nav--primary ul:first-of-type .md-nav__item--section label.md-nav__link {
    font-family: "Inter", "Encode Sans", serif;
    font-size: var(--md-400);
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom:var(--md-default-fg-color--lightest) 1px solid;
}

/* --- Reset other titles to style */
.md-nav--primary ul:first-of-type .md-nav__item--section ul label.md-nav__link {
    font-size: var(--md-300);
    padding-bottom: 5px;
    margin-bottom: 2px;
    border-bottom:none;
}

[data-md-color-scheme="default"] .md-nav--primary .md-nav__title { color: var(--md-title-color);}
[data-md-color-scheme="slate"] .md-nav--primary .md-nav__title { color: var(--md-title-color);}

.md-nav--primary .md-nav__title {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    background: none;
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
}

.md-nav--primary .md-nav__title::after {
    content: "Navigation";
    text-indent: 0;
    display: block;
    line-height: initial; /* New content takes up original line height */
}

/* || ------ PRIMARY SIDEBAR ------ */

/* Link::Active */
[data-md-color-scheme="default"] .md-nav__item--active > .md-nav__link--active { font-weight: bold; color: var(--md-accent-fg-color);}
[data-md-color-scheme="slate"] .md-nav__item--active > .md-nav__link--active { font-weight: bold; color: var(--md-accent-fg-color);}

/* Sidebar title colors */
[data-md-color-scheme="default"] .md-nav__item--section>label>span { color: var(--md-title-color); font-weight: 500;}
[data-md-color-scheme="slate"] .md-nav__item--section>label>span { color: var(--md-title-color); font-weight: 500;}

.md-nav__link {
    padding:5px 0px;
    margin:2px;
}


/* || ------ SECONDARY SIDEBAR ------ */

/* --- Title styling */
.md-nav--secondary .md-nav__title {
    font-family: "Encode Sans", serif;
    font-size: var(--md-400);
    font-weight: 500;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom:var(--md-default-fg-color--lightest) 1px solid;
    padding-left:30px;
}

.md-nav--secondary .md-nav__title::before {
    content:'';
    background:currentColor;
    -webkit-mask-image: var(--md-toc-icon);
    mask-image: var(--md-toc-icon);
    display: inline-flex;
    width:1em;
    height:1em;
    position:absolute;
    left:0;
    top:0.2em;
}
/* Title colors */
[data-md-color-scheme="default"] .md-nav--secondary .md-nav__title { color: var(--md-title-color);}
[data-md-color-scheme="slate"] .md-nav--secondary .md-nav__title { color: var(--md-title-color);}

/* TOC Follow */
.md-nav--secondary .md-nav__item .md-nav__link--active, .md-nav--secondary .md-nav__item .md-nav__link--active code {
    color: var(--md-accent-fg-color);
}

.md-nav--secondary .md-nav__link--passed {
    color: var(--md-content-color-darker);
}

.md-nav--secondary .md-nav__list{
    padding-left:5px !important;
}
 
/* space every h3 from the left */
.md-nav--secondary ul li ul li {
    margin:0;
    padding-left:10px;
}

.md-nav--secondary .md-nav__item .md-nav__link {
    margin-top:0;
    margin-bottom:0;
    padding:5px 10px;
    /*padding:4px 0; Old */
    border-radius: var(--md-border-radius);
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
    overflow-y: hidden;
}


/* || ------ CONTENT ------ */

/* Middle Collumn Width */
.md-sidebar__scrollwrap { margin: 0;} /* Removing margin and instead use gap */

.md-content__inner {
    text-wrap: pretty;
}

/* --- Increase content width --- */
.md-grid {
    max-width:66rem;
    gap: 30px;
}

/* Limit content max-width if primary sidebar is hidden & is not blogpost */
@media screen and (min-width: 60em) {
    .md-sidebar--secondary:is([hidden]) ~ .md-content:not(.md-content--post) { 
        margin-right: calc(12.1rem + 30px);
    }
}


/* Move over content if primary sidebar is hidden & is not blogpost */
@media screen and (min-width: 76.234375em) {
    .md-sidebar--primary:is([hidden]) ~ .md-content:not(.md-content--post) { 
        margin-left:272px;
    }
}
/* .md-sidebar--primary:not([hidden]) ~ .md-content {} */

.md-content--post {
    flex-grow: 1;
}

details>p {
    padding-top:12px;
}

/* || ------ BLOG ------ */

.md-post__content h2 a {
    color: var(--fc-base-main);
}


/* || ------ FOOTER ------ */

.md-footer__inner {
    color: var(--fc-base-main);
    padding: 15px 0 5px;
}
.md-footer__link {
    margin: 0;
}

[data-md-color-scheme="default"] .md-footer__inner a:hover {
    color: var(--base-white);
}
[data-md-color-scheme="slate"] .md-footer__inner a:hover {
    color: var(--base-black);
}